.new{
	height: 100%;
  width: 100vw;

.title{
	height: 10vh;
	text-align: center;
	  	text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 45px;


}
.contact{
  clip-path: polygon(0 100%, 0 0, 50% 19%, 100% 0, 100% 50%, 100% 100%);
      background-image: linear-gradient(
      135deg,
       #ff1a1a 0%,
       #ff4da6 100%
  );
      height:70vh;

.contact-wrapper{
  padding-top: 10rem;
    font-size: 2.8rem;
    background-color: blue;
    .text{
      background-color: yellow;
      text-align: center;
    }
}

.icon1{
  margin: 0 auto;
  width: 30%;
  display: flex;
  justify-content: space-between;

}
  	



}

  .new2{
      height: 15vh;
      width: 100%;
      background-color: #3d5c5c;
      position: absolute;
      text-align: center;
      color: white;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

@media (max-width: 868px){
  .new{
  .contact{


.contact-wrapper{
    font-size: 2.5rem;
  text-align: center;
  padding-top: 11rem;

  .text{

    }
}

.icon1{
  margin: 0 auto;
  width: 70%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;

}

}
}
}